# Telegram bot settings
BOT_TOKEN=8334178054:AAGsGsxmEGVB_C1CQukH8sJUrg-JjdLTsa4
GEMINI_API_KEY=AIzaSyB9ZHrzyumOQakPqgfakyZ0HGh0a2d1L-s

# Optional settings for YouTube downloads
# Use either raw cookie content in YOUTUBE_COOKIES, or a local cookie file path in YOUTUBE_COOKIES_PATH.
YOUTUBE_COOKIES_PATH=toparchik_bot/downloads/youtube_cookies.txt
#YOUTUBE_COOKIES="# Netscape HTTP Cookie File\n..."
YOUTUBE_PO_TOKEN=web.gvs+MnrIif4MGdwicsi3bxJB22M0Bw3ym7r2Zx9H0ztIX8iX2KVu2c3texnO5dgjF6Th_cc5J9IsZ6sV6JAZtB5lYgfdYLUP4hAuVjKqX__rXDZibnM3VOF3zjYk7V2ILTqy8oqFYN6zOCVQCLPcMpcO2WY6L7ycutot9NyAEg==,web.player+MpUBHpECDuwyzU4er5MQtDWMCNEVDplPGIgjkcvHSqomeORzdiXPGJX28jPA3xVRDxL77z8uLpJF-tRGAUgckIzo4bat8-DlwLkOHq-TELQ1jAjRFQ6ZTxiII5HLx0qqJnjkc3YlzxiV9vIzwN8VUQ8S--8_Li6SRfrURgFIHJCM6OG2rfPg5cC5DneXtKqii_hw_D2Nt9o=
YOUTUBE_VISITOR_DATA=CgtVRVV1ZFNUazNKUSiyz8LOBjIKCgJVWhIEGgAgGw%3D%3D
YOUTUBE_API_KEY=AIzaSyDWDq1CV7kQg5MiAY4lQIWmnn8RXYC4XlM

# Web App URL (must be HTTPS)
WEB_APP_URL=https://toparchik-bot-production.up.railway.app/
