# Telegram bot settings
BOT_TOKEN=8334178054:AAGsGsxmEGVB_C1CQukH8sJUrg-JjdLTsa4
GEMINI_API_KEY=AIzaSyB9ZHrzyumOQakPqgfakyZ0HGh0a2d1L-s

# Optional settings for YouTube downloads
# Use either raw cookie content in YOUTUBE_COOKIES, or a local cookie file path in YOUTUBE_COOKIES_PATH.
YOUTUBE_COOKIES_PATH=toparchik_bot/downloads/youtube_cookies.txt
#YOUTUBE_COOKIES="# Netscape HTTP Cookie File\n..."
YOUTUBE_PO_TOKEN=your_po_token_here
YOUTUBE_VISITOR_DATA=Cgt2WXpGVUNoQUROYyjTubfOBjIKCgJVWhIEGgAgbmLfAgrcAjE3LllUPWV1SzJmMFVYMk9Ed2RrQi1FNlZmUEZqM1p6WnZmdHZJVUhJQkIxckRvTWxfdXVfLWtJZmM5WTJnXzNSSmFaMzhiT1dWMTkzUF90SGFxZVJTaDlRNS00SWJnZEszdC1Od1ZSNGhtZHU0d2dseE9RcDZCRWZWLXRaSWdiekF1VmN5MmFwZ0Y3TkVGRXRZMVpCQTUwUWwya0s2TzE2U1FjR1BOR2p0YVhLS21xUzB0X0t6VkU1eFFsZ1FPbDd5WUtyaTdkdnZfNzUtTU1keVNjMHFZQVdTcGpQNnRGTWUtamE0OTctTFhDQWxXLXNXYVlCRWRRMjI1T0JEbmpCeXRfd3Zwc0hnN2pJYmdnaUxhSFVuMlVsOFRaNndBTWx4SWdqRWpTZTd5X2p6MG1zbFFhZjlZdzVCM1RkU3ZKU0RvREJIUm5BYTdNbF9xVkJwNzlrWEJaTXFGZw%3D%3D
YOUTUBE_API_KEY=AIzaSyDWDq1CV7kQg5MiAY4lQIWmnn8RXYC4XlM

# Web App URL (must be HTTPS)
WEB_APP_URL=https://toparchik-bot-production.up.railway.app/
